asgiref==3.8.1
Django==5.2.2
django-cors-headers==4.7.0
gunicorn==23.0.0
numpy==2.3.0
opencv-python==4.11.0.86
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
sqlparse==0.5.3
whitenoise==6.9.0
